*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
}
a{
    text-decoration: none;
}
.logo{
    position: absolute;
    top: 50px;
    left: 90px;
}
.logo a{
    text-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    font-size: 2rem;
    color: #2f2e41;
    font-weight: bold;
    letter-spacing: 1px;
}
.seachArea{
    position: fixed;
    right: 90px;
    top: 50px;
    width: 170px;
    height: 45px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
    box-shadow: 2px 2px 30px rgba(167, 158, 245, 0.2);
    box-sizing: border-box;
    z-index: 1;
    border: 1px solid rgba(167, 158, 245, 0.1);
}
.searchBox input{
    width: 90px;
    height: 20px;
    outline: none;
    background-color: transparent;
    color: #1f1f1f;
    font-size: 1rem ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0 10px;
    border: none;
}
.searchBox input::placeholder{
    color: #1d1d1d;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 0.8rem;
    font-family: popins;
}